#测试忽略规则


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/一体机/bp/EvalBoards/NXP/MCB2300/IAR/LSZHV20/Debug/*
/一体机/bp/EvalBoards/NXP/MCB2300/IAR/LSZHV20/Release/Obj/
/一体机/bp/EvalBoards/NXP/MCB2300/IAR/LSZHV20/Release/List/